@import url("https://raw.githubusercontent.com/Debetome/actitud-salmon-book-webpage/master/styles/header/top-panel.css");
@import url("https://raw.githubusercontent.com/Debetome/actitud-salmon-book-webpage/master/styles/header/book-logo.css");

header {
    background: var(--background2);
    width: 100%;
    min-height: 3.2rem;
}