#top-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;    
}

#top-panel a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    color: var(--background1);
}

#top-panel a:hover {
    color: var(--selection);
}

#sidepanel-btn {    
    width: 3rem;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
}

#info-btn {
    width: 3rem;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    margin-right: 0.2rem;
    margin-left: auto;
}

#fullscreen-btn {
    width: 3rem;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}