#book-content-container {    
    padding: 2rem;
    width: 100%;
    height: calc(100% - 3rem);
    background: #ccc;
    overflow-y: auto;
}

#book-content-container #markdown-container {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 95%;
    min-height: 300px;
    padding-bottom: 5rem;
}

#book-content-container #markdown-container h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 2rem;
}