#book-content-container {    
    padding: 2rem;
    width: 100%;
    height: calc(100% - 3rem);
    background: #ccc;
    overflow-y: auto;
}

#book-content-container.fullscreen {
    padding-top: 5rem;
}

#book-content-container:last-child {
    padding-bottom: 7rem;
}

#markdown-container {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 95%;
    min-height: 300px;
    padding-bottom: 1rem;
}

#markdown-container h1,h2,h3,h4,h5,h6,p {    
    margin-bottom: 2rem;
}

#markdown-container li {
    margin-bottom: 2rem;
    height: auto;
}

#minimize-btn {
    position: fixed;  
    top: 2%;
    left: calc(100% - 5rem);
    width: 3rem;
    height: 3rem;    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 45px;
    margin-right: 0.2rem;
    margin-left: auto;
    opacity: 0.3;
    visibility: hidden;  
}

#minimize-btn.fullscreen {
    visibility: visible;
}

#minimize-btn a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

#minimize-btn:hover a {
    background: none;    
}

.nav-arrows {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
}

.nav-arrows a {
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}