@import url("side-panel.css");
@import url("book-content.css");

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;  
}

main li {
    min-width: 280px;
    max-width: 400px;
    width: 100%;
    height: 4.5rem;  
}

main a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #e6e4e4;    
}

main a:hover {
    background: var(--selection);
}

main a::selection {
    color: none;
}

main a.selected {
    background: var(--selected);
}