#side-panel {    
    background: var(--background3);
    width: 25%;
    height: calc(100% - 3rem);   
    min-width: 280px;
    max-width: 400px;
    font-weight: 400;
    overflow-y: auto;
    transition: all 0.4s ease;    
}

#side-panel.hidden {
    min-width: 0;
    width: 0;
    visibility: 0;    
}

#side-panel #side-panel-list {    
    width: 100%;
    height: calc(100% + 5rem);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: auto;
    padding-bottom: 2rem;   
}

#side-panel #side-panel-list li a {
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
    cursor: pointer;
}


#side-panel #side-panel-list .side-panel-childlist {
    background: var(--background2);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all 0.3s ease;              
}

#side-panel #side-panel-list .side-panel-childlist.shown {
    height: auto
}

#side-panel #side-panel-list .side-panel-childlist li {
    height: 5.5rem;
}

#side-panel #side-panel-list .side-panel-childlist li a {    
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;    
    font-weight: 400;    
}

@media only screen and (max-width: 580px) {
    #side-panel {
        position: absolute;
    }
}